* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
    line-height: 1.254;
    background-color: #e91e63;
}

/* Setting the container */
.site-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

/* Setting the header */

/* Top Header */
.topheader {
    position: static;
    height: 190px;
    background-color: #000;
    overflow: hidden;
}

#logoimg {
    float: left;
}

.topheader #search {
    float: right;
    position: absolute;
    top: 140px;
    right: 50px;
}

#search form {
    background: #f5f3f3;
    padding: 5px 10px;
}

#search input[type=text], input:focus  {
    font-size: 16px;
    border: none;
    padding-right: 0;
    background: #f5f3f3;
    color: #807f7f;
    outline: none;
}

/* #search input:focus {
    outline: none;
} */
  
#search button, #search button:focus {
    padding: 3px 0 0 6px;
    background: #f5f3f3;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #807f7f;
    outline: none;
}

/* Menu */
nav {
    overflow: hidden;
    background-color: #bda069;
    width: 100%;
}

nav a {
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
.dropdown .dropbtn {
    font-size: 16px;
    font-weight: 700;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
nav a:hover, .dropdown:hover .dropbtn {
    background-color: #f5f3f3;
    color: #bda069;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bda069;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    float: none;
    color: #f5f3f3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    background-color: #f5f3f3;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* Setting active for website */
.dropdown .active, .button .active {
    background-color: #f5f3f3;
    color: #bda069;
}

/* Setting the content */
.content {
    overflow: hidden;
    background-color: rgb(233, 222, 222);
    background-image: url(img/hours-hero-first_card.jpg);
    background-size: cover;
    background-position: center;
    height: 850px;
}

/* Setting the log in */
.login {
    width: 320px;
    height: 420px;
    background: #b3965a;
    color: #f1f1f1;
    top: 15%;
    left: 30%;
    position: absolute;
    transform: translate(50%,50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login .avt {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.login p {
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: 700;
}

.login #p2 {
    margin-top: 5px;
}

.login input {
    width: 100%;
    padding: 20px 5px;
}

.login input[type="text"], .login input[type="password"] {
    border: none;
    background: #f1f1f1;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.login button {
    width: 100px;
    border: 2px solid #f1f1f1;
    border-radius: 22px;
    outline: none;
    height: 40px;
    background: #b3965a;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    top: 10px;
    left: 30%;
}

.login button:hover {
    background-color: #f1f1f1;
    color: #b3965a;
    cursor: pointer;
}

.login .forgot {
    position: relative;
    top: 25px;
}

.login .forgot a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(221, 219, 204);
}

.login .forgot a:hover {
    text-decoration: underline rgb(221, 219, 204);
}

footer {
    overflow: hidden;
    background-color: #333;
    color: #ffffff;
    height: 210px;
}